<h2 ignore-underline>Releases <i class='fas fa-star'></i></h2>

<table class="builds-table">
    <tbody class="output ttb releases">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

<h2 ignore-underline>Snapshots <i class='fas fa-bug'></i></h2>
<table class="builds-table">
    <tbody class="output ttb commits">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

<h2 ignore-underline>Classic <i class="fas fa-fast-backward"></i></i></h2>
<table class="builds-table">
    <tbody class="output ttb-classic releases">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="/assets/js/buildsTable.js"></script>
