<h3>Releases <i class='fas fa-star'></i></h3>

<table class="builds-table">
    <tbody class="output releases">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

<h3>Snapshots <i class='fas fa-bug'></i></h3>
<table class="builds-table">
    <tbody class="output commits">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="/assets/js/downloadTable.js"></script>
