---
title: "Downloads"
layout: default
prefix_icon: "fa fa-download"
navigation_weight: 2
---

<script>var textElement = undefined;</script>

<h1 center>{{ page.title }}</h1>
{% include download_buttons/remote.html %}

<div style='height: 5px;'><br></div>

<h2 ignore-underline>Installation Instructions</h2>
<p>These are installation instructions for <strong>the latest version of TTB</strong> - these will not work for classic 1.12.</p>

{% include installation_buttons.html %}

<hr class="separator">

<h2 ignore-underline>License</h2>
<p>This project is covered by the <a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/blob/{{ site.github_default_branch }}/LICENSE">MIT License</a>.</p>

<hr class="separator">

{% include collapsible.script %}
