---
title: "Download"
layout: default
prefix-icon: "fa fa-download"
navigation_weight: 1
---

{% include download_buttons.html %}
<hr class="separator">

<h2>Installation Instructions</h2>
<p>These are installation instructions for <strong>the latest version of TTB</strong> - these will not work for classic
    1.12.</p>

{% include installation_buttons.html %}

<hr class="separator">

<h2>License</h2>
<p>This project is covered by the <a href="https://github.com/{{ site.github-user }}/{{ site.github-repo }}/blob/ver/1.16/LICENSE">GPL-3.0 License</a>.</p>

<hr class="separator">

{% include collapsible.script %}
