@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/brands.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/solid.css');

/* all */
html {
    font-family: 'Roboto', 'sans-serif';
}
header {
    font-size: 260%;
    text-align: center;
    font-weight: bold;
    line-height: 3px;
}
h1 {
    margin: 10px;
    margin-top: 16px;
}
hr {
    margin-top: 20px;
}
*#content, li {
    text-align: center;
    font-size: 20px;
}
img {
    border: 5px solid black;
    border-radius: 6px;
    width: 60%;
    height: 60%;
    text-align: center;
    position: inline;
}

*:any-link {
    text-decoration: none;

    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}
*:any-link:hover {
    opacity: 0.60;
    text-decoration: underline;
}

*#navigation li {
    font-size: 20px;
    text-align: center;
    display: inline-flex;
    background-position: 100% .2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
}
*#navigation li.home {
    padding-left: .3em;
}
*#navigation li.features {
    padding-left: 1.35em;
    padding-right: .525em;
}

footer {
    padding-top: 16px;
    padding-bottom: 16px;

    text-align: center;
    line-height: 9px;
}
div#footer {
    text-align: center;
}
*.footer-icons {
    font-size: 200%;
    text-align: left;
}

/* default theme */
body {
    background-color: white;
    color: rgb(33, 33, 33);
}
p {
    display: inline-block;
    max-width: 725px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
}
*:any-link {
    color: black;
}
footer {
    background-color: #f1f1f1;
    color: rgb(33, 33, 33);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    body, h3, header, *:any-link {
        background-color: rgb(29, 29, 29);
        color: white;
    }
    footer {
        background-color: rgb(33, 33, 33);
        color: white;
    }
}

div#download-button {
    text-align: center;
}
button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: table-cell;
}
button#download-btn-curseforge {
    background-color: purple;
    padding: 12px 30px;
}
button#download-btn-github {
    background-color: rgb(70, 70, 70);
    padding: 12px 30px;
}
button#theme-btn {
    background-color: rgb(70, 70, 70);
    padding: 8px 17px;
}
