<li class='wiki-widget'>
    <a href='{{ include.wiki.url }}' style='border-bottom: none;'>
        <div class='new'>{% if include.wiki.new == true %}New in {{ site.data.settings.latest }}!{% else %}&nbsp;{% endif %}</div>
        <img src='/assets/docs/{{ include.wiki.image_path }}'>
        <div class='title'>{{ include.wiki.title | truncate: 28 }}</div>
        <div class='description'>
            <div style='height: 4px;'><br></div>
            {{ include.wiki.description | truncate: 86 }}
        </div>
    </a>
</li>
