<div id="download-button">
    <a href="https://curseforge.com/{{ site.curseforge-link }}">
        <button class="download-btn" id="curseforge">
            <i class="fa fa-download"></i> Download (CurseForge) </button>
    </a>

    <br>
    <br>

    <a class="download-btn" id="github-link">
        <button class="download-btn" id="github">
            <i class="fab fa-github"></i> Loading version... </button>
    </a>

    <script src="/assets/js/downloadButtons.js"></script>
    <script>
        fetchGitHubArchive("{{ site.github-user }}/{{ site.github-repo }}");
    </script>

    <br>
    <br>

    <button type="button" class="download-coll collapsible" id="classic"><i class="fas fa-clock"></i> Classic Versions </button>
    <div id="download-coll-classic-content" class="collapsible-content">
        <a id="download-coll-classic-link" href="https://github.com/{{ site.github-user }}/{{ site.github-repo-classic }}/archive/0.7.zip">
            <button class="download-btn" id="classic"> Classic v0.7 (MC 1.12) </button>
        </a>

        <br>

        <a id="download-coll-classic-link" href="https://github.com/{{ site.github-user }}/{{ site.github-repo-classic }}/archive/0.8.zip">
            <button class="download-btn" id="classic"> Classic v0.8 (MC 1.13, Beta) </button>
        </a>
    </div>
</div>
