<div id="download-button" class="no-highlight">
    <script>var textElement = undefined;</script>

    <a href="https://curseforge.com/{{ site.curseforge-link }}">
        <button class="download-btn" id="curseforge">
            <i class="fa fa-download"></i> Download (CurseForge) </button>
    </a>

    <div style="height: 8px;"><br></div><a class="download-btn" id="github-extras-link">
        <button class="download-btn" id="github-extras">
            <i class="fas fa-plus"></i> Loading version... </button>
    </a>
    <script src="/assets/js/downloadButtons.js"></script>
    <script>
        fetchGitHubArchive("{{ site.github_user }}/{{ site.github_repo }}-extras", "github-extras");
    </script>

    <br><br>

    <a class="download-btn" id="github-link">
        <button class="download-btn" id="github">
            <i class="fab fa-github"></i> Loading version... </button>
    </a>
    <script src="/assets/js/downloadButtons.js"></script>
    <script>
        fetchGitHubArchive("{{ site.github_user }}/{{ site.github_repo }}", "github");
    </script>

    <div style="height: 8px;"><br></div>

    <button type="button" class="download-coll collapsible" id="classic"><i class="fas fa-clock"></i> Classic Versions </button>
    <div id="download-coll-classic-content" class="collapsible-content">
        <a id="download-coll-classic-link" href="https://github.com/{{ site.github_user }}/{{ site.github_repo_classic }}/archive/0.7.zip">
            <button class="download-btn" id="classic"> Classic v0.7 (MC 1.12) </button>
        </a>

        <br>

        <a id="download-coll-classic-link" href="https://github.com/{{ site.github_user }}/{{ site.github_repo_classic }}/archive/0.8.zip">
            <button class="download-btn" id="classic"> Classic v0.8 (MC 1.13, Beta) </button>
        </a>
    </div>
</div>
