{% if include.title %}<h{% if include.minified_header == true %}3 style='margin-block-end: 0;'{% else %}2{% endif %} ignore-underline>
    {{ include.title }}
    {% if include.icon %} <i class='{{ include.icon }}'></i>{% endif %}
</h{% if include.minified_header == true %}3{% else %}2{% endif %}>{% endif %}

<table class="builds-table" {% if include.minified == true %}style='margin-top: 4px;'{% endif %}>
    <tbody class="output {{ include.github_repo }} {{ include.type }}">
        <tr>
            <td center>
                Loading...
            </td>
        </tr>
    </tbody>
</table>

{% if include.type == 'commits' %}
    <a href='https://github.com/{{ include.github_user}}/{{ include.github_repo }}/commits' target='_blank'><p center>More...</p></a>
{% endif %}

<script>
    outputData('{{ include.github_user }}', '{{ include.github_repo }}', '{{ include.type }}', {{ include.max_to_display }}, {% if include.minified == true %}{{ include.minified }}{% else %}false{% endif %}, {% if include.show_date == false %}{{ include.show_date }}{% else %}true{% endif %});
</script>
