<footer class='canInvert'>
    <div id='footer' class='lighter-background'>
        <!-- patreon -->
        <a href="https://patreon.com/{{ site.patreon }}">
            <i class='fab fa-patreon footer-icons'>
            </i></a>‏‏‎ ‎
        <!-- reddit -->
        <a href="https://reddit.com/r/{{ site.reddit }}">
            <i class='fab fa-reddit footer-icons'>
            </i></a>‏‏‎ ‎
        <!-- github -->
        <a href="https://github.com/{{ site.github-repo }}">
            <i class='fab fa-github footer-icons'>
            </i></a>‏‏‎ ‎
        <!-- discord -->
        <a href="https://discord.gg/{{ site.discord }}">
            <i class='fab fa-discord footer-icons'>
            </i></a>‏‏‎ ‎
        <!-- download -->
        <a href="/download">
            <i class='fas fa-download footer-icons'>
            </i></a>‏‏‎ ‎
        <!-- youtube -->
        <a href="https://youtube.com/{{ site.youtube }}">
            <i class='fab fa-youtube footer-icons'>
            </i></a>‏‏‎ ‎

        <br>
        <br>
        <br>
        <br>

        <p class='copyright' id='copyright'> Loading date... </p>
        <script>
            document.getElementById('copyright').innerHTML = '© ' + new Date().getFullYear() + ' <a href="{{ site.url }}">The Tempest\'s Box: Reborn</a>';
        </script>
    </div>
</footer>

<!-- <br>

<div style='text-align: center;'>
    <button id='theme-btn' onclick='toggleTheme()'>
        Toggle Theme
    </button>
    <script>
        function toggleTheme() {
            document.getElements
        }
    </script>
</div> -->
