<p id="copyright"> Loading date... </p>
<br>

<script>
    document.getElementById("copyright").innerHTML = "<a class=\"footer-link\" href=\"/\">© " + new Date().getFullYear() + " {{ site.title }}</a>";
</script>

<!-- <nav>
        patreon
<a class="footer-link" href="https://patreon.com/{{ site.patreon }}">
    <i class="fab fa-patreon"></i></a>‏‏‎ ‎
reddit
<a class="footer-link" href="https://reddit.com/r/{{ site.reddit }}">
    <i class="fab fa-reddit"></i></a>‏‏‎ ‎
github
<a class="footer-link" href="https://github.com/{{ site.github-repo }}">
    <i class="fab fa-github"></i></a>‏‏‎ ‎
discord
<a class="footer-link" href="https://discord.gg/{{ site.discord }}">
    <i class="fab fa-discord"></i></a>‏‏‎ ‎
download
<a class="footer-link" href="/download">
    <i class="fas fa-download"></i></a>‏‏‎ ‎
youtube
<a class="footer-link" href="https://youtube.com/{{ site.youtube }}">
    <i class="fab fa-youtube"></i></a>‏‏‎ ‎
</nav> -->
