<nav id="navbar">{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}{% for p in navigation_pages %}{% if p.navigation_weight %}
        <a class="link item{% if p.url == page.url %} active{% endif %}" href="{{ p.url }}"><i class="{{ p.prefix-icon }}"></i><span>{{ p.title }}</span></a>{% endif %}{% endfor %}{% assign navigation_pages = site.pages | sort: 'navigation_weight' %}{% for p in navigation_pages %}{% if p.navigation_weight %}
        <a class="link item{% if p.url == page.url or page.url contains p.url and p.url != site.url %} active{% endif %}" href="{{ p.url }}"><i class="{{ p.prefix-icon }}"></i><span>{{ p.title }}</span></a>{% endif %}{% endfor %}
    </nav>
