---
layout: default
---

<script>
    document.querySelectorAll("h2").forEach(element => {
            element.classList.add("wiki");
            console.log(element);
        });
</script>

<!-- {%- if page.new == true -%}
    <a href="/wiki/new"><h3 center>New in {{ site.latest }}!</h3></a>
{%- endif -%} -->
<h1 center>{{ page.title }}</h1>
<h4 center class="subtitle">{% for category in page.categories %}<a href="/wiki/category/{{ category }}" class="ignore-link-formatting">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</h4>

<hr>

<img center class="small" src="/assets/docs/{{ page.image-path }}" alt="docs/{{ page.image-path }}">

<br>

{{ page.description }}{{ page.extra_description }}

{%- if page.description or page.extra_description -%}<br><br>{%- endif -%}

{{ content }}

<br>

<h2>Issues</h2>
<li>
    <a href="https://github.com/{{ site.github_user }}/{{ site.github_repo }}/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+{{ page.title }}">Open issues relating to '{{ page.title }}'</a>
</li>
