<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="stylesheet" href="/assets/stylesheet.css" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>

<body>
    {% include header.html %}

    <div id="wrapper">
        <div class="page-content">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    <br>
</body>

</html>
