<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }} | {{ site.title }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}" />
    
    {% if page.image-path %}
        <meta property="og:image" content="/assets/docs/{{ page.image-path }}" />
    {% endif %}
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>

<body>
    <header class="no-highlight">
        {% include header.html %}
    </header>

    <div id="wrapper">
        <div class="page-content">
            {{ content }}
        </div>
    </div>

    <footer class="no-highlight">
        {% include footer.html %}
    </footer>
    <br>
</body>

</html>
