---
layout: default
---

<script src="/assets/js/peekaboo.js"></script>

<hr>
<h2 center title>Wikis in the category '{{ page.category }}'</h2>
<hr>

<div class="two-grid no-highlight" id="wiki-list">
    {% assign wikis = site.wiki %}{% for wiki in wikis %}
        {% if wiki.categories contains page.category %}
            {% if wiki.image-path and wiki.ignore_listing != true %}
                {% include wiki_widget.html wiki=wiki %}
            {% endif %}
        {% endif%}
    {% endfor %}
</div>
