---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/wikiSearch.js"></script>

<!-- <script src="/assets/js/peekaboo.js"></script> -->

<hr>
<h2 center title>Wikis in the category '{{ page.category }}'</h2>
<hr>

{{ content }}

<br>

<input center id="wiki-search" oninput="search()" placeholder=" Search..." />

<div class="two-grid no-highlight" id="wiki-list">
    {% assign wikis = site.wiki %}{% for wiki in wikis %}
        {% if wiki.categories contains page.category %}
            {% if wiki.image_path and wiki.ignore_listing != true %}
                {% include wiki_widget.html wiki=wiki %}
            {% endif %}
        {% endif%}
    {% endfor %}
</div>
