---
layout: default
---

<h1 class="center">{{ page.title }}</h1>
<h4 class="subtitle center" style="color: gray;">{{ page.tags }}</h4>

<hr>

<img class="center" src="/assets/docs/{{ page.image-path }}" alt="docs/{{ page.image-path }}">

<br>

{{ page.description }}{{ page.extra_description }}

<br><br>

{{ content }}

<br>

<h2>Issues</h2>
<li>
    <a href="https://github.com/{{ site.github-repo }}/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+{{ page.title }}">Open issues relating to '{{ page.title }}'</a>
</li>
